<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrs.project.dao.AdminDAO">
	
	<select id="list" resultType="board">
		SELECT * FROM market_board ORDER BY board_idx DESC 
	</select>
	
	<delete id="admindel">
			DELETE FROM market_board WHERE board_idx = #{param1}
	</delete>
	
	<select id="admemberlist" resultType="member">
		SELECT * FROM market_member 
	</select>
</mapper>