<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrs.project.dao.DataDAO">
	
	<!-- 베스트 정보 불러오기  -->
	<select id="what_result" resultType="data">
		SELECT * FROM market_total_data WHERE region=#{param1} AND reg_date = '202001'
	</select>
	
	<!-- 선택한 반기 정보 가져오기/ 일단은 지금은 지역구, 데이터코드(영업상태), 상권상태, 총인구 만 가져오는 중 -->
	<select id="status" resultType="data">
		SELECT total.region, total.data_code, total.mk_status, total.total_ppl_cnt FROM MARKET_TOTAL_DATA total, MARKET_REGION region WHERE region.REGION = #{param1} AND reg_date = #{param2} AND total.region = region.REGION
	</select>
	
	<!--  선택한 반기의 유동인구 : 나이별, 요일별, 시간별 		 
	<select id="ppl_age" resultType="data">
		SELECT * FROM ppl_age_data WHERE region = #{param1} AND reg_date = #{param2}
	</select>
	
	<select id="ppl_day" resultType="data">
		SELECT * FROM ppl_day_data WHERE region = #{param1} AND reg_date = #{param2}
	</select>
	
	<select id="ppl_time" resultType="data">
		SELECT * FROM ppl_time_data WHERE region = #{param1} AND reg_date = #{param2}
	</select>
	-->
	<insert id="scriptsave">
		INSERT INTO MARKET_SCRAPPED_SEARCH(scrap_idx,parameter,id, scrap_sub) values(scrap_idx.NEXTVAL, #{param1}, #{param2}, #{param3})
	</insert>
</mapper>