<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrs.project.dao.MemberDAO">
	
	<select id="login" resultType="int">
	SELECT COUNT(id) FROM market_member WHERE id=#{param1} AND pw=#{param2}
	</select>
	
	<select id="kaoLogin" resultType="member">
	SELECT * FROM market_member WHERE KAKAO_ID=#{param1}
	</select>
	
	<insert id="join" parameterType="HashMap">
		INSERT INTO market_member(id,pw,name,email)
		 VALUES(#{user_id},#{user_pw},#{user_name},#{user_email})
	</insert>
	
	<select id="dbchk" resultType="Integer">
		SELECT COUNT(id) FROM market_member WHERE id=#{param1}
	</select>
	
	<select id="mypage_loginpw" resultType="int">
		SELECT COUNT(id) FROM market_member WHERE id =#{param1} and pw=#{param2}
	</select>
	<select id="mypage_detail" resultType="member">
		SELECT id, name, email FROM market_member WHERE id =#{id}
	</select>
	
	<delete id="deleteMember">
		DELETE FROM market_member WHERE id = #{param1}
	</delete>
	
	<select id = "updatepage" resultType="member">
		SELECT id, name, email FROM market_member WHERE id = #{param1}
	</select>
	
	<update id = "updateMember">
		UPDATE market_member SET pw = #{param2}, name = #{param3}, email = #{param4} WHERE id = #{param1}
	</update>
	
	<select id = "mypage_scrap" resultType="scrap">
		SELECT * FROM market_scrapped_search WHERE id = #{param1}
	</select>
	
	<delete id = "scrap_delete">
		DELETE FROM market_scrapped_search WHERE scrap_idx = #{param1}
	</delete>
	
	<select id = "mypage_written" parameterType="HashMap" resultType="board">
		SELECT a.rnum, a.id, a.board_idx, a.board_type, a.private_bbs, a.bchk, a.subject, a.reg_date, b.board_name 
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY reg_date DESC) AS rnum,
	   		id, board_idx, board_type, private_bbs, bchk, subject, reg_date
	    	 FROM market_board  
	    	 WHERE id=#{id} ) a, market_board_type b  
	    WHERE a.board_type = b.board_type AND a.rnum BETWEEN #{start} AND #{end}
	</select>
	
	<select id = "getTotalCnt"  resultType="int">
		SELECT COUNT(board_idx) from market_board where id = #{id}
	</select>
	
	<select id = "kaoIdChk"  resultType="int">
		SELECT COUNT(KAKAO_ID) from market_member where KAKAO_ID = #{param1}
		<!-- <isEqual properties="#{param2}" compareValue="K">
		KAKAO_ID = #{param1}
		</isEqual>
		<isEqual properties="#{param2}" compareValue="N">
		KAKAO_ID = #{param1}
		</isEqual>
		
		KAKAO_ID = #{param1}
		KAKAO_ID = #{param1}
		KAKAO_ID = #{param1}
		KAKAO_ID = #{param1} -->
	</select>
	
	<update id="memberConnect">
		UPDATE market_member SET KAKAO_ID = #{param3} WHERE id=#{param1} AND pw = #{param2}
	</update>
	
	<resultMap type="market_board_type" id="market_board_type">
		<result column="board_name" property="board_name"/>
		<result column="board_type" property="board_type"/>
	</resultMap>

	<resultMap type="board" id="board">
		<result column="id" property="id"/>
		<result column="board_idx" property="board_idx"/>
		<result column="board_type" property="board_type"/>
		<result column="private_bbs" property="private_bbs"/>
		<result column="bchk" property="bchk"/>
		<result column="subject" property="subject"/>
		<result column="reg_date" property="reg_date"/>
		<collection property="board_name" resultMap="market_board_Type"/>
	</resultMap>

</mapper>