<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrs.project.dao.MemberDAO">
	
	<select id="login" resultType="int">
	SELECT COUNT(id) FROM market_member WHERE id=#{param1} AND pw=#{param2}
	</select>
	
	<insert id="join" parameterType="HashMap">
		INSERT INTO market_member(id,pw,name,email)
		 VALUES(#{user_id},#{user_pw},#{user_name},#{user_email})
	</insert>
	
	<select id="dbchk" resultType="Integer">
		SELECT COUNT(id) FROM market_member WHERE id=#{param1}
	</select>
	
	<select id="checkPassword" resultType="member" parameterType="map">
		SELECT id, name, email FROM market_member WHERE id =#{id} and pw=#{pw}
	</select>
	
	<delete id="deleteMember">
		DELETE FROM market_member WHERE id = #{param1}
	</delete>
	
	<select id = "updatepage" resultType="member">
		SELECT id, name, email FROM market_member WHERE id = #{param1}
	</select>
	
	<update id = "updateMember">
		UPDATE market_member SET pw = #{param2}, name = #{param3}, email = #{param3} WHERE id = #{param1}
	</update>
	
	
</mapper>